In [1]:
import pandas as pd
import numpy as np
import datetime

# 데이터 불러오기

In [2]:
df = pd.read_csv("./데이터/push 완료/국내 기상데이터/kr2301.csv", encoding = "cp949")

C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\3961232810.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./데이터/push 완료/국내 기상데이터/kr2301.csv", encoding = "cp949")

In [3]:
df.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2023-01-01 00:00,3.4,NaN,NaN,NaN,8.8,NaN,290.0,...,NaN,1725.0,NaN,NaN,-0.1,NaN,NaN,NaN,NaN,NaN
1,90,속초,2023-01-01 01:00,3.0,NaN,NaN,NaN,2.9,NaN,290.0,...,NaN,1615.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN,NaN
2,90,속초,2023-01-01 02:00,2.7,NaN,NaN,NaN,3.7,NaN,270.0,...,17.0,1552.0,NaN,NaN,-0.6,NaN,NaN,NaN,NaN,NaN
3,90,속초,2023-01-01 03:00,2.7,NaN,NaN,NaN,3.3,NaN,270.0,...,NaN,1418.0,NaN,NaN,-0.7,NaN,NaN,NaN,NaN,NaN
4,90,속초,2023-01-01 04:00,2.7,NaN,NaN,NaN,2.2,NaN,320.0,...,NaN,1488.0,NaN,NaN,-1.3,NaN,NaN,NaN,NaN,NaN

# 베이스로 사용할 컬럼, 지역만 추출

In [4]:
df = df.loc[:, ["지점", "지점명", "일시", "기온(°C)", "강수량(mm)", "풍속(m/s)", "풍향(16방위)",
                "현지기압(hPa)", "해면기압(hPa)"]]

In [5]:
df = df.loc[(df["지점명"] == "서울") | (df["지점명"] == "강화") | (df["지점명"] == "파주") | (df["지점명"] == "동두천")
            | (df["지점명"] == "대전") | (df["지점명"] == "인천") | (df["지점명"] == "수원")]

# 인덱스 재설정

In [6]:
df.reset_index(drop = True, inplace = True)

In [7]:
df.head()

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa)
0,98,동두천,2023-01-01 00:00,-1.8,NaN,0.2,0.0,1015.4,1030.2
1,98,동두천,2023-01-01 01:00,-2.2,NaN,0.7,140.0,1015.1,1029.9
2,98,동두천,2023-01-01 02:00,-2.7,NaN,0.1,0.0,1015.0,1029.9
3,98,동두천,2023-01-01 03:00,-3.1,NaN,0.4,0.0,1015.3,1030.2
4,98,동두천,2023-01-01 04:00,-3.8,NaN,0.0,0.0,1015.4,1030.3

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         5208 non-null   int64
 1   지점명        5208 non-null   object
 2   일시         5208 non-null   object
 3   기온(°C)     5208 non-null   float64
 4   강수량(mm)    261 non-null    float64
 5   풍속(m/s)    5167 non-null   float64
 6   풍향(16방위)   5167 non-null   float64
 7   현지기압(hPa)  5208 non-null   float64
 8   해면기압(hPa)  5208 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 366.3+ KB

# 데이터 전처리

- 강수량 NaN값 0으로 대체

In [9]:
df["강수량(mm)"].fillna(0, inplace = True)

- 일시컬럼 월, 시간으로 컬럼 나누기

In [10]:
df["time"] = df["일시"].map(lambda x : pd.to_datetime(x).hour)

In [11]:
df["month"] = df["일시"].map(lambda x : pd.to_datetime(x).month)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         5208 non-null   int64
 1   지점명        5208 non-null   object
 2   일시         5208 non-null   object
 3   기온(°C)     5208 non-null   float64
 4   강수량(mm)    5208 non-null   float64
 5   풍속(m/s)    5167 non-null   float64
 6   풍향(16방위)   5167 non-null   float64
 7   현지기압(hPa)  5208 non-null   float64
 8   해면기압(hPa)  5208 non-null   float64
 9   time       5208 non-null   int64
 10  month      5208 non-null   int64
dtypes: float64(6), int64(3), object(2)
memory usage: 447.7+ KB

In [13]:
df = df.drop("일시", axis = 1)

- 풍속, 풍향 결측치 확인

In [14]:
df.loc[(df["풍속(m/s)"].isna()) | df["풍향(16방위)"].isna()]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
353,98,동두천,-1.5,0.0,NaN,NaN,1003.3,1017.9,17,1
354,98,동두천,-1.8,0.0,NaN,NaN,1004.5,1019.2,18,1
355,98,동두천,-2.2,0.0,NaN,NaN,1005.3,1020.0,19,1
356,98,동두천,-2.5,0.0,NaN,NaN,1005.3,1020.0,20,1
357,98,동두천,-3.1,0.0,NaN,NaN,1006.1,1020.9,21,1
358,98,동두천,-3.5,0.0,NaN,NaN,1006.5,1021.3,22,1
359,98,동두천,-3.8,0.0,NaN,NaN,1006.9,1021.7,23,1
360,98,동두천,-4.1,0.0,NaN,NaN,1007.3,1022.1,0,1
361,98,동두천,-4.5,0.0,NaN,NaN,1007.6,1022.5,1,1
362,98,동두천,-4.7,0.0,NaN,NaN,1008.1,1023.0,2,1
363,98,동두천,-4.7,0.0,NaN,NaN,1008.1,1023.0,3,1
364,98,동두천,-5.1,0.0,NaN,NaN,1008.3,1023.2,4,1
365,98,동두천,-5.5,0.0,NaN,NaN,1008.6,1023.5,5,1
366,98,동두천,-5.5,0.0,NaN,NaN,1009.0,1023.9,6,1
367,98,동두천,-6.0,0.0,NaN,NaN,1009.9,1024.9,7,1
4810,201,강화,-1.8,0.0,NaN,NaN,1013.6,1019.7,10,1
4811,201,강화,-1.2,0.0,NaN,NaN,1013.5,1019.6,11,1
4812,201,강화,-1.5,0.0,NaN,NaN,1013.4,1019.5,12,1
4813,201,강화,-1.7,0.0,NaN,NaN,1012.2,1018.3,13,1
4814,201,강화,-2.0,0.0,NaN,NaN,1011.7,1017.8,14,1
4815,201,강화,-2.0,0.0,NaN,NaN,1012.6,1018.7,15,1
4816,201,강화,-2.3,0.0,NaN,NaN,1012.6,1018.7,16,1
4817,201,강화,-2.7,0.0,NaN,NaN,1012.9,1019.0,17,1
4818,201,강화,-3.1,0.0,NaN,NaN,1014.2,1020.3,18,1
4819,201,강화,-3.3,0.0,NaN,NaN,1014.7,1020.8,19,1
4820,201,강화,-3.5,0.0,NaN,NaN,1015.2,1021.4,20,1
4821,201,강화,-4.0,0.0,NaN,NaN,1015.7,1021.9,21,1
4822,201,강화,-4.1,0.0,NaN,NaN,1016.2,1022.4,22,1
4823,201,강화,-4.5,0.0,NaN,NaN,1016.5,1022.7,23,1
4824,201,강화,-4.7,0.0,NaN,NaN,1016.9,1023.1,0,1
4825,201,강화,-5.2,0.0,NaN,NaN,1017.3,1023.5,1,1
4826,201,강화,-5.7,0.0,NaN,NaN,1017.5,1023.7,2,1
4827,201,강화,-6.1,0.0,NaN,NaN,1017.9,1024.1,3,1
4828,201,강화,-6.3,0.0,NaN,NaN,1018.0,1024.2,4,1
4829,201,강화,-6.7,0.0,NaN,NaN,1018.3,1024.5,5,1
4830,201,강화,-7.1,0.0,NaN,NaN,1018.9,1025.2,6,1
4831,201,강화,-7.6,0.0,NaN,NaN,1019.8,1026.1,7,1
4832,201,강화,-8.3,0.0,NaN,NaN,1020.5,1026.8,8,1
4833,201,강화,-7.1,0.0,NaN,NaN,1021.0,1027.3,9,1
4834,201,강화,-6.2,0.0,NaN,NaN,1021.8,1028.1,10,1
4835,201,강화,-5.6,0.0,NaN,NaN,1022.0,1028.2,11,1

In [15]:
df.iloc[330:355]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
330,98,동두천,4.0,0.0,0.2,0.0,1001.7,1016.0,18,1
331,98,동두천,3.4,0.0,0.8,50.0,1002.9,1017.2,19,1
332,98,동두천,2.5,0.0,0.4,0.0,1002.6,1017.0,20,1
333,98,동두천,2.2,0.3,1.5,360.0,1003.7,1018.1,21,1
334,98,동두천,1.6,0.0,0.3,0.0,1003.4,1017.9,22,1
335,98,동두천,1.4,0.0,0.5,20.0,1003.0,1017.5,23,1
336,98,동두천,1.3,0.7,0.4,0.0,1003.0,1017.5,0,1
337,98,동두천,1.3,0.0,0.1,0.0,1002.5,1017.0,1,1
338,98,동두천,1.3,0.0,0.4,0.0,1003.0,1017.5,2,1
339,98,동두천,0.6,0.4,1.4,360.0,1003.1,1017.6,3,1
340,98,동두천,0.2,0.0,1.6,20.0,1003.3,1017.8,4,1
341,98,동두천,0.1,0.0,1.3,360.0,1003.0,1017.5,5,1
342,98,동두천,0.1,1.7,0.1,0.0,1002.8,1017.3,6,1
343,98,동두천,0.1,0.0,1.1,360.0,1002.9,1017.4,7,1
344,98,동두천,0.0,0.0,0.2,0.0,1003.3,1017.9,8,1
345,98,동두천,0.1,0.4,0.0,0.0,1003.0,1017.5,9,1
346,98,동두천,0.1,0.0,0.1,0.0,1004.1,1018.7,10,1
347,98,동두천,0.0,0.0,0.0,0.0,1003.9,1018.5,11,1
348,98,동두천,-0.1,0.9,1.8,250.0,1003.4,1018.0,12,1
349,98,동두천,-0.5,0.0,0.0,0.0,1002.7,1017.3,13,1
350,98,동두천,-0.5,0.0,0.0,0.0,1002.5,1017.1,14,1
351,98,동두천,-0.8,0.0,0.0,0.0,1003.0,1017.6,15,1
352,98,동두천,-1.4,0.0,0.0,0.0,1003.2,1017.8,16,1
353,98,동두천,-1.5,0.0,NaN,NaN,1003.3,1017.9,17,1
354,98,동두천,-1.8,0.0,NaN,NaN,1004.5,1019.2,18,1

In [16]:
df.iloc[365:375]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
365,98,동두천,-5.5,0.0,NaN,NaN,1008.6,1023.5,5,1
366,98,동두천,-5.5,0.0,NaN,NaN,1009.0,1023.9,6,1
367,98,동두천,-6.0,0.0,NaN,NaN,1009.9,1024.9,7,1
368,98,동두천,-7.7,0.0,1.1,320.0,1010.8,1025.9,8,1
369,98,동두천,-7.5,0.0,0.3,0.0,1011.6,1026.7,9,1
370,98,동두천,-6.6,0.0,0.4,0.0,1012.5,1027.6,10,1
371,98,동두천,-5.7,0.0,0.9,340.0,1012.8,1027.8,11,1
372,98,동두천,-4.6,0.0,0.8,340.0,1012.1,1027.0,12,1
373,98,동두천,-3.9,0.0,0.7,340.0,1011.7,1026.6,13,1
374,98,동두천,-2.3,0.0,2.0,290.0,1011.5,1026.3,14,1

In [17]:
df.iloc[4790:4815]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
4790,201,강화,5.3,0.0,2.7,20.0,1007.8,1013.7,14,1
4791,201,강화,5.0,0.1,2.9,20.0,1007.7,1013.6,15,1
4792,201,강화,4.8,0.0,2.6,20.0,1007.9,1013.8,16,1
4793,201,강화,4.3,0.0,1.6,20.0,1009.1,1015.0,17,1
4794,201,강화,3.9,0.2,1.4,50.0,1010.5,1016.4,18,1
4795,201,강화,3.2,0.0,1.3,50.0,1011.2,1017.2,19,1
4796,201,강화,2.7,0.0,2.3,20.0,1011.1,1017.1,20,1
4797,201,강화,2.3,0.8,2.4,20.0,1011.9,1017.9,21,1
4798,201,강화,2.0,0.0,2.9,20.0,1011.8,1017.8,22,1
4799,201,강화,1.7,0.0,2.2,20.0,1011.3,1017.3,23,1
4800,201,강화,1.9,0.2,1.6,70.0,1011.7,1017.7,0,1
4801,201,강화,1.6,0.0,0.9,340.0,1011.7,1017.7,1,1
4802,201,강화,1.5,0.0,0.9,340.0,1011.9,1017.9,2,1
4803,201,강화,1.1,0.2,0.6,140.0,1012.1,1018.1,3,1
4804,201,강화,0.9,0.0,0.7,200.0,1012.3,1018.3,4,1
4805,201,강화,0.3,0.0,0.6,200.0,1011.7,1017.7,5,1
4806,201,강화,-0.8,0.3,0.0,0.0,1012.1,1018.2,6,1
4807,201,강화,-0.7,0.0,0.0,0.0,1012.1,1018.2,7,1
4808,201,강화,-1.3,0.0,0.0,0.0,1012.5,1018.6,8,1
4809,201,강화,-1.4,0.0,0.0,0.0,1013.1,1019.2,9,1
4810,201,강화,-1.8,0.0,NaN,NaN,1013.6,1019.7,10,1
4811,201,강화,-1.2,0.0,NaN,NaN,1013.5,1019.6,11,1
4812,201,강화,-1.5,0.0,NaN,NaN,1013.4,1019.5,12,1
4813,201,강화,-1.7,0.0,NaN,NaN,1012.2,1018.3,13,1
4814,201,강화,-2.0,0.0,NaN,NaN,1011.7,1017.8,14,1

In [18]:
df.iloc[4830:4850]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
4830,201,강화,-7.1,0.0,NaN,NaN,1018.9,1025.2,6,1
4831,201,강화,-7.6,0.0,NaN,NaN,1019.8,1026.1,7,1
4832,201,강화,-8.3,0.0,NaN,NaN,1020.5,1026.8,8,1
4833,201,강화,-7.1,0.0,NaN,NaN,1021.0,1027.3,9,1
4834,201,강화,-6.2,0.0,NaN,NaN,1021.8,1028.1,10,1
4835,201,강화,-5.6,0.0,NaN,NaN,1022.0,1028.2,11,1
4836,201,강화,-4.5,0.0,2.7,250.0,1021.7,1027.9,12,1
4837,201,강화,-4.1,0.0,1.8,290.0,1021.3,1027.5,13,1
4838,201,강화,-3.9,0.0,2.7,270.0,1021.0,1027.2,14,1
4839,201,강화,-3.4,0.0,1.7,320.0,1021.1,1027.3,15,1
4840,201,강화,-3.5,0.0,1.8,340.0,1020.9,1027.1,16,1
4841,201,강화,-3.9,0.0,1.6,200.0,1021.2,1027.4,17,1
4842,201,강화,-6.3,0.0,1.5,20.0,1021.5,1027.8,18,1
4843,201,강화,-6.8,0.0,0.7,340.0,1021.9,1028.2,19,1
4844,201,강화,-7.8,0.0,1.3,360.0,1022.1,1028.4,20,1
4845,201,강화,-8.2,0.0,0.9,360.0,1022.2,1028.5,21,1
4846,201,강화,-6.2,0.0,2.4,20.0,1021.9,1028.2,22,1
4847,201,강화,-7.3,0.0,0.7,70.0,1022.3,1028.6,23,1
4848,201,강화,-8.9,0.0,0.6,340.0,1022.5,1028.8,0,1
4849,201,강화,-8.9,0.0,0.3,0.0,1022.8,1029.1,1,1

In [19]:
df["풍속(m/s)"].fillna(0, inplace = True)
df["풍향(16방위)"].fillna(0, inplace = True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         5208 non-null   int64
 1   지점명        5208 non-null   object
 2   기온(°C)     5208 non-null   float64
 3   강수량(mm)    5208 non-null   float64
 4   풍속(m/s)    5208 non-null   float64
 5   풍향(16방위)   5208 non-null   float64
 6   현지기압(hPa)  5208 non-null   float64
 7   해면기압(hPa)  5208 non-null   float64
 8   time       5208 non-null   int64
 9   month      5208 non-null   int64
dtypes: float64(6), int64(3), object(1)
memory usage: 407.0+ KB

In [52]:
def kr_df_pre(data):
    global df_list # df_list를 전역변수로 사용
    global kr_2023_df # kr_2023_df를 전역변수로 사용
    
    df_list = []
    
    for i in data:
        # 데이터 파일 위치 변수명 생성
        filename = f"./데이터/push 완료/국내 기상데이터/kr{i}.csv"
        # 데이터 불러오기
        df = pd.read_csv(filename, encoding = "cp949")
        
        # 필요컬럼, 지역만 추출
        df = df.loc[:, ["지점", "지점명", "일시", "기온(°C)", "강수량(mm)", "풍속(m/s)", "풍향(16방위)",
                        "현지기압(hPa)", "해면기압(hPa)"]]
        df = df.loc[(df["지점명"] == "서울") | (df["지점명"] == "강화") | (df["지점명"] == "파주")
                    | (df["지점명"] == "동두천") | (df["지점명"] == "대전") | (df["지점명"] == "인천")
                    | (df["지점명"] == "수원")]
        
        # 컬럼명 변경
        df.columns = ["지점", "지점명", "일시", "16방위 풍향", "풍속", "강수량", "기온", "현지기압", "해면기압"]
        
        # 데이터 전처리
        df.drop("지점명", axis = 1, inplace = True) # 지점명 컬럼 제거
        df["month"] = df["일시"].map(lambda x : pd.to_datetime(x).month) # 일시컬럼에서 월 추출
        df["time"] = df["일시"].map(lambda x : pd.to_datetime(x).hour) # 일시컬럼에서 시간 추출
        df["일시"] = pd.to_datetime(df["일시"])
        df["강수량"].fillna(0, inplace = True) # 강수량 결측치 0으로 치환
        
        # 인덱스 재설정
        df.reset_index(drop = True, inplace = True)
        
        # 풍속 전처리
        for index_num in df.loc[df["풍속"].isna()].index:
            df.iloc[index_num, 4] = round(df.loc[(index_num-30):(index_num+30),["풍속"]].mean(), 1)
            
        # 기온 전처리
        for index_num2 in df.loc[df["기온"].isna()].index:
            df.iloc[index_num2, 6] = round(df.loc[(index_num2-30):(index_num2+30),["기온"]].mean(), 1)
          
        # 3시간 단위로 데이터 결합 및 전처리
        df["group"] = df.index // 3 # 3시간 단위로 동일한 값을 가지는 컬럼 추가
        df_group = pd.DataFrame() # 빈 데이터프레임 생성
        
        df_group["지점"] = df.groupby("group")["지점"].min()
        df_group["일시"] = df.groupby("group")["일시"].min() # 시간을 맞추기 위하여 최소값으로 처리
        df_group["16방위 풍향"] = df.groupby("group")["16방위 풍향"].median() # 방위이기때문에 중앙값으로 처리
        df_group["풍속"] = df.groupby("group")["풍속"].median() # 3시간 평균 풍속으로 처리
        df_group["강수량"] = df.groupby("group")["강수량"].sum() # 3시간동안 내린 강수량임으로 sum으로 합산
        df_group["기온"] = df.groupby("group")["기온"].median() # 3시간 평균 기온으로 처리
        df_group["현지기압"] = df.groupby("group")["현지기압"].median()
        df_group["해면기압"] = df.groupby("group")["해면기압"].median()
        df_group["month"] = df.groupby("group")["month"].min() # 월 그룹처리
        df_group["time"] = df.groupby("group")["time"].min() # 시간 처리
        
        # 데이터프레임 저장
        df_list.append(df)
        
    # 저장된 데이터프레임 결합
    kr_2023_df = pd.concat(df_list, ignore_index = True)
    
    return kr_2023_df

In [53]:
kr_df_pre(range(2301,2313))

C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")
C:\Users\ITSC\AppData\Local\Temp\ipykernel_7956\1995724644.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")

,지점,일시,16방위 풍향,풍속,강수량,기온,현지기압,해면기압,month,time
0,98,2023-01-01 00:00:00,-1.8,NaN,NaN,0.0,1015.4,1030.2,1,0
1,98,2023-01-01 01:00:00,-2.2,NaN,NaN,140.0,1015.1,1029.9,1,1
2,98,2023-01-01 02:00:00,-2.7,NaN,NaN,0.0,1015.0,1029.9,1,2
3,98,2023-01-01 03:00:00,-3.1,NaN,NaN,0.0,1015.3,1030.2,1,3
4,98,2023-01-01 04:00:00,-3.8,NaN,NaN,0.0,1015.4,1030.3,1,4
...,...,...,...,...,...,...,...,...,...,...
61315,201,2023-12-31 19:00:00,0.3,NaN,2.0,360.0,1018.3,1024.4,12,19
61316,201,2023-12-31 20:00:00,-0.7,NaN,2.0,340.0,1019.2,1025.3,12,20
61317,201,2023-12-31 21:00:00,-1.6,NaN,2.0,340.0,1019.8,1025.9,12,21
61318,201,2023-12-31 22:00:00,-1.6,NaN,1.8,360.0,1020.4,1026.5,12,22
61319,201,2023-12-31 23:00:00,-2.2,NaN,1.8,20.0,1020.9,1027.1,12,23

In [23]:
# kr_2023_df.to_csv("./kr_2023_df.csv")

In [54]:
kr_2023_df.isna().sum()

지점             0
일시             0
16방위 풍향       12
풍속         54849
강수량        23939
기온           275
현지기압           1
해면기압          13
month          0
time           0
dtype: int64

In [50]:
df_list

[        지점                  일시  16방위 풍향  풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-01-01 00:00:00     -2.2 NaN  0.0    0.0  1015.1  1029.9
 1       98 2023-01-01 03:00:00     -3.8 NaN  0.0    0.0  1015.3  1030.3
 2       98 2023-01-01 06:00:00     -6.0 NaN  0.0    0.0  1016.4  1031.5
 3       98 2023-01-01 09:00:00     -3.2 NaN  0.0    0.0  1017.8  1032.7
 4       98 2023-01-01 12:00:00      3.1 NaN  0.0  320.0  1016.5  1031.0
 ...    ...                 ...      ...  ..  ...    ...     ...     ...
 1731   201 2023-01-31 09:00:00     -0.3 NaN  0.0   50.0  1015.0  1021.1
 1732   201 2023-01-31 12:00:00      3.5 NaN  0.0  180.0  1011.4  1017.4
 1733   201 2023-01-31 15:00:00      5.4 NaN  0.0  230.0  1009.7  1015.6
 1734   201 2023-01-31 18:00:00      5.4 NaN  0.0  230.0  1009.5  1015.4
 1735   201 2023-01-31 21:00:00      4.0 NaN  0.0  230.0  1009.8  1015.7

        month  time
 group
 0          1     0
 1          1     3
 2          1     6
 3          1     9
 4          1    12
 ...      ...   ...
 1731       1     9
 1732       1    12
 1733       1    15
 1734       1    18
 1735       1    21

 [1736 rows x 10 columns],
         지점                  일시  16방위 풍향  풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-02-01 00:00:00      3.5 NaN  0.0  230.0  1001.2  1015.5
 1       98 2023-02-01 03:00:00     -0.4 NaN  0.0    0.0  1001.5  1016.0
 2       98 2023-02-01 06:00:00     -1.5 NaN  0.0    0.0  1002.2  1016.8
 3       98 2023-02-01 09:00:00     -0.1 NaN  0.0    0.0  1004.8  1019.4
 4       98 2023-02-01 12:00:00      3.9 NaN  0.0  320.0  1004.4  1018.7
 ...    ...                 ...      ...  ..  ...    ...     ...     ...
 1563   201 2023-02-28 09:00:00      1.8 NaN  0.0  110.0  1024.1  1030.2
 1564   201 2023-02-28 12:00:00      6.5 NaN  0.0  200.0  1022.6  1028.6
 1565   201 2023-02-28 15:00:00      6.8 NaN  0.0  230.0  1020.4  1026.3
 1566   201 2023-02-28 18:00:00      5.8 NaN  0.0  270.0  1020.1  1026.1
 1567   201 2023-02-28 21:00:00      5.3 NaN  0.0  290.0  1019.8  1025.8

        month  time
 group
 0          2     0
 1          2     3
 2          2     6
 3          2     9
 4          2    12
 ...      ...   ...
 1563       2     9
 1564       2    12
 1565       2    15
 1566       2    18
 1567       2    21

 [1568 rows x 10 columns],
         지점                  일시  16방위 풍향  풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-03-01 00:00:00      4.5 NaN  0.0    0.0  1010.2  1024.6
 1       98 2023-03-01 03:00:00      3.4 NaN  0.0    0.0  1008.7  1023.1
 2       98 2023-03-01 06:00:00      2.4 NaN  0.0    0.0  1008.5  1023.0
 3       98 2023-03-01 09:00:00      4.9 NaN  0.0    0.0  1008.1  1022.5
 4       98 2023-03-01 12:00:00      8.4 NaN  0.0  320.0  1006.6  1020.7
 ...    ...                 ...      ...  ..  ...    ...     ...     ...
 1731   201 2023-03-31 09:00:00     13.8 NaN  0.0  160.0  1015.7  1021.5
 1732   201 2023-03-31 12:00:00     15.8 NaN  0.0  200.0  1014.4  1020.1
 1733   201 2023-03-31 15:00:00     16.0 NaN  0.0  250.0  1012.3  1018.0
 1734   201 2023-03-31 18:00:00     11.9 NaN  0.0  270.0  1011.9  1017.7
 1735   201 2023-03-31 21:00:00      9.2 NaN  0.0    0.0  1012.6  1018.4

        month  time
 group
 0          3     0
 1          3     3
 2          3     6
 3          3     9
 4          3    12
 ...      ...   ...
 1731       3     9
 1732       3    12
 1733       3    15
 1734       3    18
 1735       3    21

 [1736 rows x 10 columns],
         지점                  일시  16방위 풍향  풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-04-01 00:00:00     10.1 NaN  0.0    0.0  1004.1  1018.1
 1       98 2023-04-01 03:00:00      7.4 NaN  0.0    0.0  1003.7  1017.9
 2       98 2023-04-01 06:00:00      6.1 NaN  0.0    0.0  1004.2  1018.4
 3       98 2023-04-01 09:00:00     16.5 NaN  0.0    0.0  1004.5  1018.2
 4       98 2023-04-01 12:00:00     24.8 NaN  0.0  230.0  1002.4  1015.6
 ...    ...                 ...      ...  ..  ...    ...     ...     ...
 1675   201 2023-04-30 09:00:00     12.0 NaN  3.7  200.0  1006.4  1012.1
 1676   201 2023-04-30 12:00:00     14.2 NaN  3.6  250.0  1005.6  1011.3
 1677   201 2023-04-30 15:00:00     14.1 NaN  4.9  230.0  1004.0  1009.7
 1678   201 2023-04-30 18:00:00     11.6 NaN  0.7  270.0  1003.8  1009.5
 1679   201 2023-04-30 21:00:00     10.4 NaN  0.0  340.0  1006.0  1011.8

        month  time
 group
 0          4     0
 1          4     3
 2          4     6
 3          4     9
 4          4    12
 ...      ...   ...
 1675       4     9
 1676       4    12
 1677       4    15
 1678       4    18
 1679       4    21

 [1680 rows x 10 columns],
         지점                  일시  16방위 풍향  풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-05-01 00:00:00     10.1 NaN  0.0  230.0   998.5  1012.4
 1       98 2023-05-01 03:00:00      8.9 NaN  0.0    0.0   999.0  1013.0
 2       98 2023-05-01 06:00:00      9.6 NaN  0.0    0.0  1001.5  1015.5
 3       98 2023-05-01 09:00:00     15.1 NaN  0.0  250.0  1003.8  1017.5
 4       98 2023-05-01 12:00:00     20.0 NaN  0.0  290.0  1004.1  1017.6
 ...    ...                 ...      ...  ..  ...    ...     ...     ...
 1731   201 2023-05-31 09:00:00     21.8 NaN  0.0  140.0  1006.9  1012.4
 1732   201 2023-05-31 12:00:00     23.4 NaN  0.0  200.0  1006.5  1012.0
 1733   201 2023-05-31 15:00:00     22.2 NaN  0.0  270.0  1005.4  1010.9
 1734   201 2023-05-31 18:00:00     19.4 NaN  0.0  270.0  1004.6  1010.1
 1735   201 2023-05-31 21:00:00     17.8 NaN  0.0  270.0  1005.2  1010.8

        month  time
 group
 0          5     0
 1          5     3
 2          5     6
 3          5     9
 4          5    12
 ...      ...   ...
 1731       5     9
 1732       5    12
 1733       5    15
 1734       5    18
 1735       5    21

 [1736 rows x 10 columns],
         지점                  일시  16방위 풍향  풍속  강수량     기온   현지기압    해면기압  month  \
 group
 0       98 2023-06-01 00:00:00     19.5 NaN  0.0   70.0  996.1  1009.4      6
 1       98 2023-06-01 03:00:00     18.5 NaN  0.0    0.0  995.5  1008.9      6
 2       98 2023-06-01 06:00:00     18.6 NaN  0.0    0.0  994.8  1008.1      6
 3       98 2023-06-01 09:00:00     22.2 NaN  0.0  200.0  994.7  1007.9      6
 4       98 2023-06-01 12:00:00     23.0 NaN  0.0  230.0  993.1  1006.2      6
 ...    ...                 ...      ...  ..  ...    ...    ...     ...    ...
 1675   201 2023-06-30 09:00:00     22.8 NaN  6.2  110.0  995.5  1001.0      6
 1676   201 2023-06-30 12:00:00     26.0 NaN  6.6  250.0  995.8  1001.2      6
 1677   201 2023-06-30 15:00:00     26.0 NaN  5.7  250.0  995.4  1000.8      6
 1678   201 2023-06-30 18:00:00     24.5 NaN  2.3  270.0  995.9  1001.3      6
 1679   201 2023-06-30 21:00:00     22.3 NaN  1.3  270.0  997.8  1003.3      6

        time
 group
 0         0
 1         3
 2         6
 3         9
 4        12
 ...     ...
 1675      9
 1676     12
 1677     15
 1678     18
 1679     21

 [1680 rows x 10 columns],
         지점                  일시  16방위 풍향  풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-07-01 00:00:00     23.7 NaN  0.0    0.0   990.2  1003.2
 1       98 2023-07-01 03:00:00     22.5 NaN  0.0    0.0   990.6  1003.7
 2       98 2023-07-01 06:00:00     22.7 NaN  0.0    0.0   992.2  1005.3
 3       98 2023-07-01 09:00:00     28.3 NaN  0.0  320.0   992.9  1005.8
 4       98 2023-07-01 12:00:00     31.1 NaN  0.0  270.0   992.9  1005.7
 ...    ...                 ...      ...  ..  ...    ...     ...     ...
 1731   201 2023-07-31 09:00:00     28.8 NaN  0.0  270.0  1009.4  1014.8
 1732   201 2023-07-31 12:00:00     30.9 NaN  0.0  250.0  1008.1  1013.5
 1733   201 2023-07-31 15:00:00     28.9 NaN  0.0  250.0  1007.0  1012.4
 1734   201 2023-07-31 18:00:00     27.4 NaN  0.0  250.0  1006.8  1012.2
 1735   201 2023-07-31 21:00:00     25.2 NaN  0.0  360.0  1007.6  1013.0

        month  time
 group
 0          7     0
 1          7     3
 2          7     6
 3          7     9
 4          7    12
 ...      ...   ...
 1731       7     9
 1732       7    12
 1733       7    15
 1734       7    18
 1735       7    21

 [1736 rows x 10 columns],
         지점                  일시  16방위 풍향  풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-08-01 00:00:00     25.4 NaN  0.0  110.0   998.9  1012.0
 1       98 2023-08-01 03:00:00     24.2 NaN  0.0    0.0   998.4  1011.5
 2       98 2023-08-01 06:00:00     25.4 NaN  0.0    0.0   999.0  1012.1
 3       98 2023-08-01 09:00:00     29.4 NaN  0.0  270.0   998.9  1011.8
 4       98 2023-08-01 12:00:00     32.2 NaN  0.0  200.0   997.5  1010.3
 ...    ...                 ...      ...  ..  ...    ...     ...     ...
 1731   201 2023-08-31 09:00:00     23.8 NaN  0.3  160.0  1006.5  1012.0
 1732   201 2023-08-31 12:00:00     26.1 NaN  0.3  340.0  1006.3  1011.7
 1733   201 2023-08-31 15:00:00     26.0 NaN  0.3  270.0  1005.9  1011.3
 1734   201 2023-08-31 18:00:00     22.6 NaN  0.4  290.0  1006.0  1011.5
 1735   201 2023-08-31 21:00:00     20.8 NaN  0.0  270.0  1007.0  1012.6

        month  time
 group
 0          8     0
 1          8     3
 2          8     6
 3          8     9
 4          8    12
 ...      ...   ...
 1731       8     9
 1732       8    12
 1733       8    15
 1734       8    18
 1735       8    21

 [1736 rows x 10 columns],
         지점                  일시  16방위 풍향   풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-09-01 00:00:00     18.4  NaN  0.0   20.0   998.8  1012.2
 1       98 2023-09-01 03:00:00     17.5  NaN  0.0  360.0   998.7  1012.2
 2       98 2023-09-01 06:00:00     17.2  NaN  0.0    0.0   999.7  1013.2
 3       98 2023-09-01 09:00:00     23.8  NaN  0.0  340.0  1000.0  1013.3
 4       98 2023-09-01 12:00:00     27.2  NaN  0.0  340.0   999.2  1012.2
 ...    ...                 ...      ...  ...  ...    ...     ...     ...
 1675   201 2023-09-30 09:00:00     19.1  0.4  4.0  290.0  1006.9  1012.5
 1676   201 2023-09-30 12:00:00     21.1  5.2  4.7  160.0  1005.5  1011.1
 1677   201 2023-09-30 15:00:00     22.8  NaN  4.8  250.0  1004.1  1009.6
 1678   201 2023-09-30 18:00:00     20.5  NaN  4.8  270.0  1004.9  1010.5
 1679   201 2023-09-30 21:00:00     17.3  NaN  4.8  290.0  1006.5  1012.1

        month  time
 group
 0          9     0
 1          9     3
 2          9     6
 3          9     9
 4          9    12
 ...      ...   ...
 1675       9     9
 1676       9    12
 1677       9    15
 1678       9    18
 1679       9    21

 [1680 rows x 10 columns],
         지점                  일시  16방위 풍향  풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-10-01 00:00:00     13.3 NaN  0.0   90.0   998.2  1011.9
 1       98 2023-10-01 03:00:00     11.7 NaN  0.0   20.0   998.5  1012.3
 2       98 2023-10-01 06:00:00     11.0 NaN  0.0    0.0  1000.4  1014.3
 3       98 2023-10-01 09:00:00     17.0 NaN  0.0  340.0  1002.5  1016.0
 4       98 2023-10-01 12:00:00     21.7 NaN  0.0  320.0  1001.7  1015.0
 ...    ...                 ...      ...  ..  ...    ...     ...     ...
 1731   201 2023-10-31 09:00:00     13.8 NaN  0.0   50.0  1018.5  1024.3
 1732   201 2023-10-31 12:00:00     16.7 NaN  0.0  180.0  1016.7  1022.4
 1733   201 2023-10-31 15:00:00     17.8 NaN  0.0  200.0  1015.3  1020.9
 1734   201 2023-10-31 18:00:00     17.1 NaN  0.0  200.0  1014.8  1020.5
 1735   201 2023-10-31 21:00:00     17.3 NaN  0.0  230.0  1014.5  1020.2

        month  time
 group
 0         10     0
 1         10     3
 2         10     6
 3         10     9
 4         10    12
 ...      ...   ...
 1731      10     9
 1732      10    12
 1733      10    15
 1734      10    18
 1735      10    21

 [1736 rows x 10 columns],
         지점                  일시  16방위 풍향   풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-11-01 00:00:00     16.3  NaN  1.8  160.0  1005.9  1019.6
 1       98 2023-11-01 03:00:00     16.5  NaN  1.8  160.0  1004.6  1018.3
 2       98 2023-11-01 06:00:00     15.9  0.0  3.6  180.0  1004.3  1018.0
 3       98 2023-11-01 09:00:00     17.1  1.2  3.2  160.0  1004.2  1017.7
 4       98 2023-11-01 12:00:00     19.2  NaN  1.8  160.0  1002.5  1015.9
 ...    ...                 ...      ...  ...  ...    ...     ...     ...
 1675   201 2023-11-30 09:00:00     -4.5  NaN  0.0  140.0  1025.9  1032.2
 1676   201 2023-11-30 12:00:00     -2.4  NaN  0.0  270.0  1023.9  1030.1
 1677   201 2023-11-30 15:00:00     -1.8  NaN  0.0  290.0  1023.0  1029.1
 1678   201 2023-11-30 18:00:00     -4.0  NaN  0.0  290.0  1023.1  1029.3
 1679   201 2023-11-30 21:00:00     -4.6  NaN  0.0  250.0  1023.1  1029.3

        month  time
 group
 0         11     0
 1         11     3
 2         11     6
 3         11     9
 4         11    12
 ...      ...   ...
 1675      11     9
 1676      11    12
 1677      11    15
 1678      11    18
 1679      11    21

 [1680 rows x 10 columns],
         지점                  일시  16방위 풍향   풍속  강수량     기온    현지기압    해면기압  \
 group
 0       98 2023-12-01 00:00:00     -7.0  NaN  0.0    0.0  1013.3  1028.5
 1       98 2023-12-01 03:00:00     -9.2  NaN  0.0    0.0  1012.4  1027.6
 2       98 2023-12-01 06:00:00     -9.7  NaN  0.0    0.0  1012.4  1027.6
 3       98 2023-12-01 09:00:00     -4.9  NaN  0.0  230.0  1013.4  1028.5
 4       98 2023-12-01 12:00:00     -0.7  NaN  0.0  320.0  1012.1  1026.8
 ...    ...                 ...      ...  ...  ...    ...     ...     ...
 1731   201 2023-12-31 09:00:00      2.3  2.7  7.2  290.0  1010.4  1016.4
 1732   201 2023-12-31 12:00:00      3.8  NaN  6.9  320.0  1012.8  1018.8
 1733   201 2023-12-31 15:00:00      4.0  NaN  6.9  340.0  1015.6  1021.6
 1734   201 2023-12-31 18:00:00      0.3  NaN  6.4  340.0  1018.3  1024.4
 1735   201 2023-12-31 21:00:00     -1.6  NaN  5.6  340.0  1020.4  1026.5

        month  time
 group
 0         12     0
 1         12     3
 2         12     6
 3         12     9
 4         12    12
 ...      ...   ...
 1731      12     9
 1732      12    12
 1733      12    15
 1734      12    18
 1735      12    21

 [1736 rows x 10 columns]]

In [51]:
kr_2023_df.describe()

,지점,일시,16방위 풍향,풍속,강수량,기온,현지기압,해면기압,month,time
count,20440.000000,20440,20440.000000,3405.000000,20440.000000,20368.000000,20440.000000,20440.000000,20440.000000,20440.000000
mean,124.285714,2023-07-02 10:30:00.000000256,13.068249,1.310602,2.295934,167.687304,1004.473141,1016.569817,6.526027,10.500000
min,98.000000,2023-01-01 00:00:00,-20.000000,0.000000,0.000000,0.000000,0.000000,991.100000,1.000000,0.000000
25%,99.000000,2023-04-02 05:15:00,4.100000,0.000000,0.000000,50.000000,1001.900000,1010.100000,4.000000,5.250000
50%,112.000000,2023-07-02 10:30:00,14.500000,0.200000,0.000000,180.000000,1008.400000,1016.100000,7.000000,10.500000
75%,133.000000,2023-10-01 15:45:00,22.500000,1.300000,3.500000,270.000000,1015.400000,1023.100000,10.000000,15.750000
max,201.000000,2023-12-31 21:00:00,35.200000,36.400000,35.200000,360.000000,1036.600000,1040.800000,12.000000,21.000000
std,33.243274,NaN,10.953751,2.724685,3.962504,114.208900,63.962864,8.856700,3.447936,6.874032

In [26]:
kr_2023_df.loc[kr_2023_df["기온"].isna()].tail(30)

,지점,일시,16방위 풍향,풍속,강수량,기온,현지기압,해면기압,month,time
8277,201,2023-05-09 15:00:00,16.8,NaN,14.0,NaN,1009.9,1015.5,5,15
8278,201,2023-05-09 18:00:00,13.2,NaN,11.9,NaN,1009.5,1015.2,5,18
8279,201,2023-05-09 21:00:00,10.1,NaN,3.0,NaN,1010.9,1016.7,5,21
8280,201,2023-05-10 00:00:00,8.7,NaN,2.7,NaN,1011.4,1017.2,5,0
8283,201,2023-05-10 09:00:00,17.1,NaN,4.3,NaN,1013.6,1019.3,5,9
8284,201,2023-05-10 12:00:00,21.5,NaN,8.1,NaN,1012.4,1018.0,5,12
8285,201,2023-05-10 15:00:00,21.2,NaN,10.0,NaN,1010.9,1016.5,5,15
8286,201,2023-05-10 18:00:00,16.8,NaN,10.2,NaN,1011.2,1016.9,5,18
8289,201,2023-05-11 03:00:00,13.0,NaN,4.5,NaN,1013.0,1018.8,5,3
8290,201,2023-05-11 06:00:00,13.1,NaN,2.2,NaN,1013.9,1019.7,5,6
8299,201,2023-05-12 09:00:00,16.9,NaN,4.0,NaN,1013.6,1019.2,5,9
10264,98,2023-07-17 00:00:00,22.6,NaN,0.0,NaN,997.0,1010.2,7,0
10265,98,2023-07-17 03:00:00,22.3,NaN,0.0,NaN,996.6,1009.8,7,3
10266,98,2023-07-17 06:00:00,23.0,0.0,0.0,NaN,997.7,1010.9,7,6
14920,133,2023-09-15 00:00:00,21.3,0.3,0.0,NaN,1006.9,1014.8,9,0
14921,133,2023-09-15 03:00:00,21.1,1.2,0.0,NaN,1006.2,1014.1,9,3
14922,133,2023-09-15 06:00:00,20.8,0.7,0.0,NaN,1006.4,1014.3,9,6
14923,133,2023-09-15 09:00:00,21.4,1.5,0.0,NaN,1007.0,1014.9,9,9
14924,133,2023-09-15 12:00:00,23.1,0.6,0.0,NaN,1005.7,1013.5,9,12
19273,108,2023-12-10 03:00:00,9.9,NaN,0.0,NaN,1011.2,1021.7,12,3
19274,108,2023-12-10 06:00:00,7.4,NaN,0.0,NaN,1012.6,1023.1,12,6
19275,108,2023-12-10 09:00:00,8.7,NaN,0.0,NaN,1013.9,1024.4,12,9
19276,108,2023-12-10 12:00:00,14.2,NaN,0.0,NaN,1012.1,1022.3,12,12
19277,108,2023-12-10 15:00:00,14.7,NaN,0.0,NaN,1011.1,1021.3,12,15
19278,108,2023-12-10 18:00:00,12.4,NaN,0.0,NaN,1011.6,1021.9,12,18
19279,108,2023-12-10 21:00:00,12.1,NaN,0.0,NaN,1012.2,1022.6,12,21
19280,108,2023-12-11 00:00:00,12.0,0.0,0.0,NaN,1011.5,1021.9,12,0
19281,108,2023-12-11 03:00:00,11.6,0.0,0.0,NaN,1010.1,1020.5,12,3
19282,108,2023-12-11 06:00:00,10.9,0.6,0.0,NaN,1009.9,1020.3,12,6
19283,108,2023-12-11 09:00:00,10.9,0.6,0.0,NaN,1008.8,1019.2,12,9