In [1]:
import pandas as pd
import numpy as np
import tqdm

In [2]:
df = pd.read_csv("./전처리된 2015-2024 전체 데이터/2015~2024_중국기상데이터_전처리.csv")

In [3]:
date = pd.date_range(start="2015-01-01", end="2024-05-20", freq = "3H")

In [4]:
date = pd.DataFrame(date)[:-1]

In [5]:
date.columns = ["일시"]

In [6]:
# DataFrame을 79번 복제하여 axis=0 방향으로 추가
date_list = [date] * 80
result_df = pd.concat(date_list, axis=0).reset_index(drop=True)

In [7]:
# datetime으로 변환 (머지를 위한 전처리)
df['일시'] = pd.to_datetime(df['일시'])

# datetime으로 변환 (머지를 위한 전처리)
result_df['일시'] = pd.to_datetime(result_df['일시'])

# 인덱스기준으로 머지 (left join)
merged_df = pd.merge(result_df, df, left_index=True, right_index=True, how="left")

# 결측치가 있는 행 확인
missing_dates = merged_df[merged_df.isnull().any(axis=1)]

In [8]:
pdf = pd.pivot_table(merged_df,
                    index = "일시_x",
                    columns = "지점")

C:\Users\Jayden Jeong\AppData\Local\Temp\ipykernel_24372\2281395874.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pdf = pd.pivot_table(merged_df,

In [9]:
# 수평구하는 함수
def horizontal_average(dataframe, datetime, column, threshold = 3, digits = 1):
    '''
    동일한 시간의 여러 지점 데이터를 확인한 후 해당 데이터들의 평균값을 반환하는 함수
    threshold 값을 입력하여 허용하는 NaN 값의 최대치를 설정할 수 있음
    '''  
    # 입력된 일시와 컬럼명에 해당하는 데이터 변수화
    data = dataframe.loc[datetime, column]
    
    # 임시로 nan값 입력
    mean = np.nan
    
    # data에 NaN값의 수가 threshold를 초과하는지 확인
    if data.isna().sum() <= threshold:
        # nan값을 제외한 값으로만 리스트 생성
        value_list = [i for i in data if not pd.isna(i)]
        
        # 평균값 산출 이후 반올림
        mean = np.mean(value_list)
        mean = round(mean, digits)
               
    return mean

In [10]:
# 결측치를 평균값으로 치환하는 함수
def replace_nan_with_average(pdf, column_chunk_size=80, threshold=10, digits=1):
    # 각 행을 반복
    for idx, row in pdf.iterrows():
        # 각 행에서 80개씩 컬럼을 슬라이싱
        for i in tqdm(range(0, pdf.shape[1], column_chunk_size)):
            column_range = pdf.columns[i:i + column_chunk_size]
            mean_value = horizontal_average(pdf, idx, column_range, threshold, digits)
            
            # 슬라이싱한 컬럼 범위 내의 결측치를 평균값으로 치환
            pdf.loc[idx, column_range] = pdf.loc[idx, column_range].apply(lambda x: mean_value if pd.isna(x) else x)

In [17]:
# 함수 호출
replace_nan_with_average(pdf, column_chunk_size=80, threshold=10, digits=1)

In [20]:
pdf

                    16 방위 풍향                                                  \
지점                   50527.0 50745.0 50963.0 51076.0 51243.0 51431.0 51463.0
일시_x
2015-01-01 00:00:00     11.0    34.0     6.0    25.0    32.0     0.0    21.0
2015-01-01 03:00:00     16.0    29.0     6.0     3.0    36.0    11.0    15.0
2015-01-01 06:00:00     19.0    32.0     6.0     2.0    33.0    11.0    20.0
2015-01-01 09:00:00     26.0    35.0     7.0     2.0    31.0     9.0    21.0
2015-01-01 12:00:00     32.0    36.0     7.0    36.0    33.0    11.0    23.0
...                      ...     ...     ...     ...     ...     ...     ...
2024-05-19 09:00:00     13.0     4.0     6.0     2.0    33.0     0.0    21.0
2024-05-19 12:00:00     10.0     5.0     6.0    29.0    32.0     0.0    24.0
2024-05-19 15:00:00     18.0     2.0     8.0    19.0    32.0    34.0     1.0
2024-05-19 18:00:00     16.0     2.0     6.0    23.0    31.0    14.0    28.0
2024-05-19 21:00:00     13.0    34.0     6.0     8.0    31.0    25.0     8.0

                                             ...     현지기압                  \
지점                  51644.0 51656.0 51709.0  ...  58666.0 58847.0 58968.0
일시_x                                         ...
2015-01-01 00:00:00    18.1     8.0    11.0  ...  1011.00   999.7  1017.6
2015-01-01 03:00:00    19.4    36.0    27.0  ...  1011.20  1001.7  1018.6
2015-01-01 06:00:00    18.9     2.0    23.0  ...  1011.40  1001.3  1018.5
2015-01-01 09:00:00    20.1     8.0    23.0  ...  1013.20  1002.4  1018.8
2015-01-01 12:00:00    18.2    12.0     5.0  ...  1015.00  1001.9  1020.3
...                     ...     ...     ...  ...      ...     ...     ...
2024-05-19 09:00:00     NaN    32.0    23.0  ...  1008.70  1000.7  1014.1
2024-05-19 12:00:00     NaN    16.0    10.0  ...  1011.20   999.0  1015.9
2024-05-19 15:00:00     NaN    10.0     3.0  ...  1010.45   997.8  1016.1
2024-05-19 18:00:00     NaN    10.0    18.0  ...  1009.70   996.4  1015.0
2024-05-19 21:00:00     NaN    10.0    24.0  ...  1010.35   997.7  1015.7


지점                   59211.0 59287.0  59316.0  59431.0 59758.0 59948.0 59981.0
일시_x
2015-01-01 00:00:00  1005.50  995.30  1009.80  1009.30  1004.2   961.3  1015.3
2015-01-01 03:00:00  1004.20  995.85  1009.85  1008.90  1005.3   961.8  1014.4
2015-01-01 06:00:00  1002.90  996.40  1009.90  1008.50  1004.2   963.9  1013.5
2015-01-01 09:00:00  1002.55  996.65  1010.70  1006.55  1004.1   964.5  1014.7
2015-01-01 12:00:00  1002.20  996.90  1011.50  1004.60  1006.0   962.7  1015.8
...                      ...     ...      ...      ...     ...     ...     ...
2024-05-19 09:00:00      NaN  997.05  1011.70  1011.20  1004.6   964.5  1014.8
2024-05-19 12:00:00      NaN  997.50  1012.00  1009.40  1005.8   961.7  1015.8
2024-05-19 15:00:00      NaN  997.55  1010.85  1008.85  1006.6   960.2  1013.5
2024-05-19 18:00:00      NaN  997.60  1009.70  1008.30  1004.6   961.4  1013.2
2024-05-19 21:00:00      NaN  996.45  1009.75  1008.80  1002.9   962.8  1014.5

[27416 rows x 800 columns]