In [48]:
import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime

In [2]:
# 미세먼지 데이터 읽기
pm10_df = pd.read_csv("./Git/데이터/1. 종속변수/국내미세먼지농도.csv", index_col = 0, header = [0, 1])
pm25_df = pd.read_csv("./Git/데이터/1. 종속변수/국내초미세먼지농도.csv", index_col = 0, header = [0, 1])

In [56]:
pm10_df.head()

                      PM10
지역                  강원 강릉시 광주 북구  대전 중구 부산 해운대구 서울 서대문구
일시
2015-01-01 03:00:00   35.0  21.7   33.3    18.7    63.7
2015-01-01 06:00:00   45.3  21.0   61.3    19.0   113.3
2015-01-01 09:00:00   56.3  21.7   95.0    28.3   135.0
2015-01-01 12:00:00   68.7  41.0  124.0    53.5    85.0
2015-01-01 15:00:00   88.3  70.3   56.3    54.3    44.7

In [3]:
# 기상 데이터 읽기
kr_df = pd.read_csv("./독립변수/국내기상데이터.csv", index_col = 0, header = [0, 1])

- 서울 : 108
- 부산 : 159
- 대전 : 133
- 광주 : 156
- 강릉 : 105

In [210]:
columns = ['지점번호', 'PM10', 'PM25', '강수량', '기온']
concat_df = pd.DataFrame(columns = columns)

In [211]:
loc_code = ["105", "156", "133", "159", "108"]

In [212]:
for i in range(0, 5):
    pm10 = pm10_df.iloc[11695:11719, i]
    pm25 = pm25_df.iloc[7:31, i]
    
    loc = loc_code[i]
    loc_ser = pd.Series(loc for _ in range(24))
    loc_ser.index = pd.date_range(start = "2019-01-02 00:00", end = "2019-01-04 21:00", freq = "3H").astype("str")
    
    weather = kr_df.xs(loc, axis = 1, level = 1).iloc[11695:11719, :2]
    
    df = pd.concat([loc_ser, pm10, pm25, weather], axis = 1)
    df.columns = columns = ['지점번호', 'PM10', 'PM25', '강수량', '기온']
    
    concat_df = pd.concat([concat_df, df], axis = 0)

C:\Users\ITSC\AppData\Local\Temp\ipykernel_11564\1410357714.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  concat_df = pd.concat([concat_df, df], axis = 0)

In [213]:
concat_df.index = concat_df.index.map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [214]:
concat_df["date"] = concat_df.index.map(lambda x: str(x)[:10])

In [215]:
concat_df["time"] = concat_df.index.map(lambda x: str(x.hour))

In [216]:
concat_df = concat_df.iloc[:, [5, 6, 0, 1, 2, 4, 3]]

In [217]:
concat_df = concat_df.interpolate("linear")

C:\Users\ITSC\AppData\Local\Temp\ipykernel_11564\2262219258.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  concat_df = concat_df.interpolate("linear")

In [218]:
concat_df.head(30)

                           date time 지점번호  PM10  PM25   기온  강수량
2019-01-02 00:00:00  2019-01-02    0  105  33.0  25.0 -2.4  0.0
2019-01-02 03:00:00  2019-01-02    3  105  23.0  18.3 -2.6  0.0
2019-01-02 06:00:00  2019-01-02    6  105  18.0  16.3 -3.0  0.0
2019-01-02 09:00:00  2019-01-02    9  105  14.3   9.3 -2.7  0.0
2019-01-02 12:00:00  2019-01-02   12  105  12.7   9.3  1.0  0.0
2019-01-02 15:00:00  2019-01-02   15  105   7.7  10.0  5.4  0.0
2019-01-02 18:00:00  2019-01-02   18  105  12.0  10.7  2.6  0.0
2019-01-02 21:00:00  2019-01-02   21  105  20.3  16.3 -0.3  0.0
2019-01-03 00:00:00  2019-01-03    0  105  23.7  14.3 -1.0  0.0
2019-01-03 03:00:00  2019-01-03    3  105  18.0  12.0 -1.4  0.0
2019-01-03 06:00:00  2019-01-03    6  105  20.7  15.0 -2.4  0.0
2019-01-03 09:00:00  2019-01-03    9  105  12.7   8.0 -2.5  0.0
2019-01-03 12:00:00  2019-01-03   12  105  15.7   9.0  3.4  0.0
2019-01-03 15:00:00  2019-01-03   15  105  11.7   5.7  6.3  0.0
2019-01-03 18:00:00  2019-01-03   18  105  13.7   5.3  4.1  0.0
2019-01-03 21:00:00  2019-01-03   21  105  39.0  16.3  0.1  0.0
2019-01-04 00:00:00  2019-01-04    0  105  29.0  17.0  1.2  0.0
2019-01-04 03:00:00  2019-01-04    3  105  19.7  16.5  0.9  0.0
2019-01-04 06:00:00  2019-01-04    6  105  15.3  13.0  0.6  0.0
2019-01-04 09:00:00  2019-01-04    9  105  13.3  11.0  2.0  0.0
2019-01-04 12:00:00  2019-01-04   12  105  19.0   8.3  6.7  0.0
2019-01-04 15:00:00  2019-01-04   15  105  37.7  22.0  7.5  0.0
2019-01-04 18:00:00  2019-01-04   18  105  50.3  31.7  5.8  0.0
2019-01-04 21:00:00  2019-01-04   21  105  53.7  39.7  3.2  0.0
2019-01-02 00:00:00  2019-01-02    0  156  19.0  13.3  0.2  0.0
2019-01-02 03:00:00  2019-01-02    3  156  14.0   6.3 -0.5  0.0
2019-01-02 06:00:00  2019-01-02    6  156  17.0   8.3 -1.3  0.0
2019-01-02 09:00:00  2019-01-02    9  156  16.7  11.3 -1.9  0.0
2019-01-02 12:00:00  2019-01-02   12  156  25.3  16.7  1.4  0.0
2019-01-02 15:00:00  2019-01-02   15  156  19.3   9.3  2.8  0.0

In [219]:
concat_df.iloc[0, :].tolist()

['2019-01-02', '0', '105', 33.0, 25.0, -2.4, 0.0]

In [220]:
con = sqlite3.connect("./Git/web/db.sqlite3")
cursor = con.cursor()

In [222]:
query = '''INSERT INTO predictions_predictions (date, time, loc, pm10, pm25, temperature, percipitation)
         VALUES (?, ?, ?, ?, ?, ?, ?)'''

In [223]:
for i in range(len(concat_df)):
    data = concat_df.iloc[i, :].tolist()
    cursor.execute(query, data)

In [224]:
con.commit()
con.close()