In [2]:
import pandas as pd
import numpy as np
import datetime

# 데이터 불러오기

In [3]:
df = pd.read_csv("./kr2301.csv", encoding = "cp949")

C:\Users\ITSC\AppData\Local\Temp\ipykernel_2212\1212289688.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./kr2301.csv", encoding = "cp949")

In [4]:
df.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2023-01-01 00:00,3.4,NaN,NaN,NaN,8.8,NaN,290.0,...,NaN,1725.0,NaN,NaN,-0.1,NaN,NaN,NaN,NaN,NaN
1,90,속초,2023-01-01 01:00,3.0,NaN,NaN,NaN,2.9,NaN,290.0,...,NaN,1615.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN,NaN
2,90,속초,2023-01-01 02:00,2.7,NaN,NaN,NaN,3.7,NaN,270.0,...,17.0,1552.0,NaN,NaN,-0.6,NaN,NaN,NaN,NaN,NaN
3,90,속초,2023-01-01 03:00,2.7,NaN,NaN,NaN,3.3,NaN,270.0,...,NaN,1418.0,NaN,NaN,-0.7,NaN,NaN,NaN,NaN,NaN
4,90,속초,2023-01-01 04:00,2.7,NaN,NaN,NaN,2.2,NaN,320.0,...,NaN,1488.0,NaN,NaN,-1.3,NaN,NaN,NaN,NaN,NaN

# 베이스로 사용할 컬럼, 지역만 추출

In [5]:
df = df.loc[:, ["지점", "지점명", "일시", "기온(°C)", "강수량(mm)", "풍속(m/s)", "풍향(16방위)",
                "현지기압(hPa)", "해면기압(hPa)"]]

In [6]:
df = df.loc[(df["지점명"] == "서울") | (df["지점명"] == "강화") | (df["지점명"] == "파주") | (df["지점명"] == "동두천")
            | (df["지점명"] == "대전") | (df["지점명"] == "인천") | (df["지점명"] == "수원")]

# 인덱스 재설정

In [7]:
df.reset_index(drop = True, inplace = True)

In [8]:
df.head()

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa)
0,98,동두천,2023-01-01 00:00,-1.8,NaN,0.2,0.0,1015.4,1030.2
1,98,동두천,2023-01-01 01:00,-2.2,NaN,0.7,140.0,1015.1,1029.9
2,98,동두천,2023-01-01 02:00,-2.7,NaN,0.1,0.0,1015.0,1029.9
3,98,동두천,2023-01-01 03:00,-3.1,NaN,0.4,0.0,1015.3,1030.2
4,98,동두천,2023-01-01 04:00,-3.8,NaN,0.0,0.0,1015.4,1030.3

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         5208 non-null   int64
 1   지점명        5208 non-null   object
 2   일시         5208 non-null   object
 3   기온(°C)     5208 non-null   float64
 4   강수량(mm)    261 non-null    float64
 5   풍속(m/s)    5167 non-null   float64
 6   풍향(16방위)   5167 non-null   float64
 7   현지기압(hPa)  5208 non-null   float64
 8   해면기압(hPa)  5208 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 366.3+ KB

# 데이터 전처리

- 강수량 NaN값 0으로 대체

In [10]:
df["강수량(mm)"].fillna(0, inplace = True)

- 일시컬럼 월, 시간으로 컬럼 나누기

In [11]:
df["time"] = df["일시"].map(lambda x : pd.to_datetime(x).hour)

In [12]:
df["month"] = df["일시"].map(lambda x : pd.to_datetime(x).month)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         5208 non-null   int64
 1   지점명        5208 non-null   object
 2   일시         5208 non-null   object
 3   기온(°C)     5208 non-null   float64
 4   강수량(mm)    5208 non-null   float64
 5   풍속(m/s)    5167 non-null   float64
 6   풍향(16방위)   5167 non-null   float64
 7   현지기압(hPa)  5208 non-null   float64
 8   해면기압(hPa)  5208 non-null   float64
 9   time       5208 non-null   int64
 10  month      5208 non-null   int64
dtypes: float64(6), int64(3), object(2)
memory usage: 447.7+ KB

In [14]:
df = df.drop("일시", axis = 1)

- 풍속, 풍향 결측치 확인

In [15]:
df.loc[(df["풍속(m/s)"].isna()) | df["풍향(16방위)"].isna()]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
353,98,동두천,-1.5,0.0,NaN,NaN,1003.3,1017.9,17,1
354,98,동두천,-1.8,0.0,NaN,NaN,1004.5,1019.2,18,1
355,98,동두천,-2.2,0.0,NaN,NaN,1005.3,1020.0,19,1
356,98,동두천,-2.5,0.0,NaN,NaN,1005.3,1020.0,20,1
357,98,동두천,-3.1,0.0,NaN,NaN,1006.1,1020.9,21,1
358,98,동두천,-3.5,0.0,NaN,NaN,1006.5,1021.3,22,1
359,98,동두천,-3.8,0.0,NaN,NaN,1006.9,1021.7,23,1
360,98,동두천,-4.1,0.0,NaN,NaN,1007.3,1022.1,0,1
361,98,동두천,-4.5,0.0,NaN,NaN,1007.6,1022.5,1,1
362,98,동두천,-4.7,0.0,NaN,NaN,1008.1,1023.0,2,1
363,98,동두천,-4.7,0.0,NaN,NaN,1008.1,1023.0,3,1
364,98,동두천,-5.1,0.0,NaN,NaN,1008.3,1023.2,4,1
365,98,동두천,-5.5,0.0,NaN,NaN,1008.6,1023.5,5,1
366,98,동두천,-5.5,0.0,NaN,NaN,1009.0,1023.9,6,1
367,98,동두천,-6.0,0.0,NaN,NaN,1009.9,1024.9,7,1
4810,201,강화,-1.8,0.0,NaN,NaN,1013.6,1019.7,10,1
4811,201,강화,-1.2,0.0,NaN,NaN,1013.5,1019.6,11,1
4812,201,강화,-1.5,0.0,NaN,NaN,1013.4,1019.5,12,1
4813,201,강화,-1.7,0.0,NaN,NaN,1012.2,1018.3,13,1
4814,201,강화,-2.0,0.0,NaN,NaN,1011.7,1017.8,14,1
4815,201,강화,-2.0,0.0,NaN,NaN,1012.6,1018.7,15,1
4816,201,강화,-2.3,0.0,NaN,NaN,1012.6,1018.7,16,1
4817,201,강화,-2.7,0.0,NaN,NaN,1012.9,1019.0,17,1
4818,201,강화,-3.1,0.0,NaN,NaN,1014.2,1020.3,18,1
4819,201,강화,-3.3,0.0,NaN,NaN,1014.7,1020.8,19,1
4820,201,강화,-3.5,0.0,NaN,NaN,1015.2,1021.4,20,1
4821,201,강화,-4.0,0.0,NaN,NaN,1015.7,1021.9,21,1
4822,201,강화,-4.1,0.0,NaN,NaN,1016.2,1022.4,22,1
4823,201,강화,-4.5,0.0,NaN,NaN,1016.5,1022.7,23,1
4824,201,강화,-4.7,0.0,NaN,NaN,1016.9,1023.1,0,1
4825,201,강화,-5.2,0.0,NaN,NaN,1017.3,1023.5,1,1
4826,201,강화,-5.7,0.0,NaN,NaN,1017.5,1023.7,2,1
4827,201,강화,-6.1,0.0,NaN,NaN,1017.9,1024.1,3,1
4828,201,강화,-6.3,0.0,NaN,NaN,1018.0,1024.2,4,1
4829,201,강화,-6.7,0.0,NaN,NaN,1018.3,1024.5,5,1
4830,201,강화,-7.1,0.0,NaN,NaN,1018.9,1025.2,6,1
4831,201,강화,-7.6,0.0,NaN,NaN,1019.8,1026.1,7,1
4832,201,강화,-8.3,0.0,NaN,NaN,1020.5,1026.8,8,1
4833,201,강화,-7.1,0.0,NaN,NaN,1021.0,1027.3,9,1
4834,201,강화,-6.2,0.0,NaN,NaN,1021.8,1028.1,10,1
4835,201,강화,-5.6,0.0,NaN,NaN,1022.0,1028.2,11,1

In [16]:
df.iloc[330:355]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
330,98,동두천,4.0,0.0,0.2,0.0,1001.7,1016.0,18,1
331,98,동두천,3.4,0.0,0.8,50.0,1002.9,1017.2,19,1
332,98,동두천,2.5,0.0,0.4,0.0,1002.6,1017.0,20,1
333,98,동두천,2.2,0.3,1.5,360.0,1003.7,1018.1,21,1
334,98,동두천,1.6,0.0,0.3,0.0,1003.4,1017.9,22,1
335,98,동두천,1.4,0.0,0.5,20.0,1003.0,1017.5,23,1
336,98,동두천,1.3,0.7,0.4,0.0,1003.0,1017.5,0,1
337,98,동두천,1.3,0.0,0.1,0.0,1002.5,1017.0,1,1
338,98,동두천,1.3,0.0,0.4,0.0,1003.0,1017.5,2,1
339,98,동두천,0.6,0.4,1.4,360.0,1003.1,1017.6,3,1
340,98,동두천,0.2,0.0,1.6,20.0,1003.3,1017.8,4,1
341,98,동두천,0.1,0.0,1.3,360.0,1003.0,1017.5,5,1
342,98,동두천,0.1,1.7,0.1,0.0,1002.8,1017.3,6,1
343,98,동두천,0.1,0.0,1.1,360.0,1002.9,1017.4,7,1
344,98,동두천,0.0,0.0,0.2,0.0,1003.3,1017.9,8,1
345,98,동두천,0.1,0.4,0.0,0.0,1003.0,1017.5,9,1
346,98,동두천,0.1,0.0,0.1,0.0,1004.1,1018.7,10,1
347,98,동두천,0.0,0.0,0.0,0.0,1003.9,1018.5,11,1
348,98,동두천,-0.1,0.9,1.8,250.0,1003.4,1018.0,12,1
349,98,동두천,-0.5,0.0,0.0,0.0,1002.7,1017.3,13,1
350,98,동두천,-0.5,0.0,0.0,0.0,1002.5,1017.1,14,1
351,98,동두천,-0.8,0.0,0.0,0.0,1003.0,1017.6,15,1
352,98,동두천,-1.4,0.0,0.0,0.0,1003.2,1017.8,16,1
353,98,동두천,-1.5,0.0,NaN,NaN,1003.3,1017.9,17,1
354,98,동두천,-1.8,0.0,NaN,NaN,1004.5,1019.2,18,1

In [16]:
df.iloc[365:375]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
365,98,동두천,-5.5,0.0,NaN,NaN,1008.6,1023.5,5,1
366,98,동두천,-5.5,0.0,NaN,NaN,1009.0,1023.9,6,1
367,98,동두천,-6.0,0.0,NaN,NaN,1009.9,1024.9,7,1
368,98,동두천,-7.7,0.0,1.1,320.0,1010.8,1025.9,8,1
369,98,동두천,-7.5,0.0,0.3,0.0,1011.6,1026.7,9,1
370,98,동두천,-6.6,0.0,0.4,0.0,1012.5,1027.6,10,1
371,98,동두천,-5.7,0.0,0.9,340.0,1012.8,1027.8,11,1
372,98,동두천,-4.6,0.0,0.8,340.0,1012.1,1027.0,12,1
373,98,동두천,-3.9,0.0,0.7,340.0,1011.7,1026.6,13,1
374,98,동두천,-2.3,0.0,2.0,290.0,1011.5,1026.3,14,1

In [17]:
df.iloc[4790:4815]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
4790,201,강화,5.3,0.0,2.7,20.0,1007.8,1013.7,14,1
4791,201,강화,5.0,0.1,2.9,20.0,1007.7,1013.6,15,1
4792,201,강화,4.8,0.0,2.6,20.0,1007.9,1013.8,16,1
4793,201,강화,4.3,0.0,1.6,20.0,1009.1,1015.0,17,1
4794,201,강화,3.9,0.2,1.4,50.0,1010.5,1016.4,18,1
4795,201,강화,3.2,0.0,1.3,50.0,1011.2,1017.2,19,1
4796,201,강화,2.7,0.0,2.3,20.0,1011.1,1017.1,20,1
4797,201,강화,2.3,0.8,2.4,20.0,1011.9,1017.9,21,1
4798,201,강화,2.0,0.0,2.9,20.0,1011.8,1017.8,22,1
4799,201,강화,1.7,0.0,2.2,20.0,1011.3,1017.3,23,1
4800,201,강화,1.9,0.2,1.6,70.0,1011.7,1017.7,0,1
4801,201,강화,1.6,0.0,0.9,340.0,1011.7,1017.7,1,1
4802,201,강화,1.5,0.0,0.9,340.0,1011.9,1017.9,2,1
4803,201,강화,1.1,0.2,0.6,140.0,1012.1,1018.1,3,1
4804,201,강화,0.9,0.0,0.7,200.0,1012.3,1018.3,4,1
4805,201,강화,0.3,0.0,0.6,200.0,1011.7,1017.7,5,1
4806,201,강화,-0.8,0.3,0.0,0.0,1012.1,1018.2,6,1
4807,201,강화,-0.7,0.0,0.0,0.0,1012.1,1018.2,7,1
4808,201,강화,-1.3,0.0,0.0,0.0,1012.5,1018.6,8,1
4809,201,강화,-1.4,0.0,0.0,0.0,1013.1,1019.2,9,1
4810,201,강화,-1.8,0.0,NaN,NaN,1013.6,1019.7,10,1
4811,201,강화,-1.2,0.0,NaN,NaN,1013.5,1019.6,11,1
4812,201,강화,-1.5,0.0,NaN,NaN,1013.4,1019.5,12,1
4813,201,강화,-1.7,0.0,NaN,NaN,1012.2,1018.3,13,1
4814,201,강화,-2.0,0.0,NaN,NaN,1011.7,1017.8,14,1

In [18]:
df.iloc[4830:4850]

,지점,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),현지기압(hPa),해면기압(hPa),time,month
4830,201,강화,-7.1,0.0,NaN,NaN,1018.9,1025.2,6,1
4831,201,강화,-7.6,0.0,NaN,NaN,1019.8,1026.1,7,1
4832,201,강화,-8.3,0.0,NaN,NaN,1020.5,1026.8,8,1
4833,201,강화,-7.1,0.0,NaN,NaN,1021.0,1027.3,9,1
4834,201,강화,-6.2,0.0,NaN,NaN,1021.8,1028.1,10,1
4835,201,강화,-5.6,0.0,NaN,NaN,1022.0,1028.2,11,1
4836,201,강화,-4.5,0.0,2.7,250.0,1021.7,1027.9,12,1
4837,201,강화,-4.1,0.0,1.8,290.0,1021.3,1027.5,13,1
4838,201,강화,-3.9,0.0,2.7,270.0,1021.0,1027.2,14,1
4839,201,강화,-3.4,0.0,1.7,320.0,1021.1,1027.3,15,1
4840,201,강화,-3.5,0.0,1.8,340.0,1020.9,1027.1,16,1
4841,201,강화,-3.9,0.0,1.6,200.0,1021.2,1027.4,17,1
4842,201,강화,-6.3,0.0,1.5,20.0,1021.5,1027.8,18,1
4843,201,강화,-6.8,0.0,0.7,340.0,1021.9,1028.2,19,1
4844,201,강화,-7.8,0.0,1.3,360.0,1022.1,1028.4,20,1
4845,201,강화,-8.2,0.0,0.9,360.0,1022.2,1028.5,21,1
4846,201,강화,-6.2,0.0,2.4,20.0,1021.9,1028.2,22,1
4847,201,강화,-7.3,0.0,0.7,70.0,1022.3,1028.6,23,1
4848,201,강화,-8.9,0.0,0.6,340.0,1022.5,1028.8,0,1
4849,201,강화,-8.9,0.0,0.3,0.0,1022.8,1029.1,1,1

In [17]:
df["풍속(m/s)"].fillna(0, inplace = True)
df["풍향(16방위)"].fillna(0, inplace = True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         5208 non-null   int64
 1   지점명        5208 non-null   object
 2   기온(°C)     5208 non-null   float64
 3   강수량(mm)    5208 non-null   float64
 4   풍속(m/s)    5208 non-null   float64
 5   풍향(16방위)   5208 non-null   float64
 6   현지기압(hPa)  5208 non-null   float64
 7   해면기압(hPa)  5208 non-null   float64
 8   time       5208 non-null   int64
 9   month      5208 non-null   int64
dtypes: float64(6), int64(3), object(1)
memory usage: 407.0+ KB

In [35]:
def kr_df_pre(data):
    global df_list # df_list를 전역변수로 사용
    global kr_2023_df # kr_2023_df를 전역변수로 사용
    
    df_list = []
    
    for i in data:
        # 데이터 파일 위치 변수명 생성
        filename = f"./kr{i}.csv"
        # 데이터 불러오기
        df = pd.read_csv(filename, encoding = "cp949")
        
        # 필요컬럼, 지역만 추출
        df = df.loc[:, ["지점", "지점명", "일시", "기온(°C)", "강수량(mm)", "풍속(m/s)", "풍향(16방위)",
                        "현지기압(hPa)", "해면기압(hPa)"]]
        df = df.loc[(df["지점명"] == "서울") | (df["지점명"] == "강화") | (df["지점명"] == "파주")
                    | (df["지점명"] == "동두천") | (df["지점명"] == "대전") | (df["지점명"] == "인천")
                    | (df["지점명"] == "수원")]
        
        # 컬럼명 변경
        df.columns = ["지점", "지점명", "일시", "16방위 풍향", "풍속", "강수량", "기온", "현지기압", "해면기압"]
        
        # 데이터 전처리
        df.drop("지점명", axis = 1, inplace = True) # 지점명 컬럼 제거
        df["month"] = df["일시"].map(lambda x : pd.to_datetime(x).month) # 일시컬럼에서 월 추출
        df["time"] = df["일시"].map(lambda x : pd.to_datetime(x).hour) # 일시컬럼에서 시간 추출
        df["일시"] = pd.to_datetime(df["일시"])
        df["강수량"].fillna(0, inplace = True) # 강수량 결측치 0으로 치환
        
        # 인덱스 재설정
        df.reset_index(drop = True, inplace = True)
        
#         # 풍속 전처리
#         for index_num in df.loc[df["풍속"].isna()].index:
#             df.iloc[index_num, 4] = round(df.loc[(index_num-30):(index_num+30),["풍속"]].mean(), 1)
            
#         # 기온 전처리
#         for index_num2 in df.loc[df["기온"].isna()].index:
#             df.iloc[index_num2, 6] = round(df.loc[(index_num2-30):(index_num2+30),["기온"]].mean(), 1)
          
        # 3시간 단위로 데이터 결합 및 전처리
        df["group"] = df.index // 3 # 3시간 단위로 동일한 값을 가지는 컬럼 추가
        df_group = pd.DataFrame() # 빈 데이터프레임 생성
        
        df_group["지점"] = df.groupby("group")["지점"].min()
        df_group["일시"] = df.groupby("group")["일시"].min() # 시간을 맞추기 위하여 최소값으로 처리
        df_group["16방위 풍향"] = df.groupby("group")["16방위 풍향"].median() # 방위이기때문에 중앙값으로 처리
        df_group["풍속"] = df.groupby("group")["풍속"].median() # 3시간 평균 풍속으로 처리
        df_group["강수량"] = df.groupby("group")["강수량"].sum() # 3시간동안 내린 강수량임으로 sum으로 합산
        df_group["기온"] = df.groupby("group")["기온"].median() # 3시간 평균 기온으로 처리
        df_group["현지기압"] = df.groupby("group")["현지기압"].median()
        df_group["해면기압"] = df.groupby("group")["해면기압"].median()
        df_group["month"] = df.groupby("group")["month"].min() # 월 그룹처리
        df_group["time"] = df.groupby("group")["time"].min() # 시간 처리
        
        # 데이터프레임 저장
        df_list.append(df_group)
        
    # 저장된 데이터프레임 결합
    kr_2023_df = pd.concat(df_list, ignore_index = True)
    
    return kr_2023_df

In [36]:
kr_df_pre(range(2301,2302))

C:\Users\ITSC\AppData\Local\Temp\ipykernel_2212\862169048.py:11: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, encoding = "cp949")

,지점,일시,16방위 풍향,풍속,강수량,기온,현지기압,해면기압,month,time
0,98,2023-01-01 00:00:00,-2.2,NaN,1.0,0.0,1015.1,1029.9,1,0
1,98,2023-01-01 03:00:00,-3.8,NaN,0.8,0.0,1015.3,1030.3,1,3
2,98,2023-01-01 06:00:00,-6.0,NaN,1.1,0.0,1016.4,1031.5,1,6
3,98,2023-01-01 09:00:00,-3.2,NaN,0.7,0.0,1017.8,1032.7,1,9
4,98,2023-01-01 12:00:00,3.1,NaN,7.0,320.0,1016.5,1031.0,1,12
...,...,...,...,...,...,...,...,...,...,...
1731,201,2023-01-31 09:00:00,-0.3,NaN,4.3,50.0,1015.0,1021.1,1,9
1732,201,2023-01-31 12:00:00,3.5,NaN,5.3,180.0,1011.4,1017.4,1,12
1733,201,2023-01-31 15:00:00,5.4,NaN,10.8,230.0,1009.7,1015.6,1,15
1734,201,2023-01-31 18:00:00,5.4,NaN,10.0,230.0,1009.5,1015.4,1,18
1735,201,2023-01-31 21:00:00,4.0,NaN,8.1,230.0,1009.8,1015.7,1,21

In [23]:
# kr_2023_df.to_csv("./kr_2023_df.csv")

In [37]:
kr_2023_df.isna().sum()

지점            0
일시            0
16방위 풍향       0
풍속         1475
강수량           0
기온           12
현지기압          0
해면기압          0
month         0
time          0
dtype: int64

In [22]:
df_list

[]

In [30]:
kr_2023_df.describe()

,지점,일시,16방위 풍향,풍속,강수량,기온,현지기압,해면기압,month,time,group
count,61320.000000,61320,61308.000000,6471.000000,37381.000000,61045.00000,61319.000000,61307.000000,61320.000000,61320.000000,61320.000000
mean,124.285714,2023-07-02 11:30:00,13.074493,1.640365,1.255421,169.08248,1004.578012,1016.574262,6.526027,11.500000,851.850685
min,98.000000,2023-01-01 00:00:00,-20.400000,0.000000,0.000000,0.00000,0.000000,990.700000,1.000000,0.000000,0.000000
25%,99.000000,2023-04-02 05:45:00,4.100000,0.000000,0.100000,50.00000,1001.900000,1010.100000,4.000000,5.750000,425.000000
50%,112.000000,2023-07-02 11:30:00,14.500000,0.300000,0.600000,180.00000,1008.400000,1016.100000,7.000000,11.500000,851.000000
75%,133.000000,2023-10-01 17:15:00,22.500000,1.700000,1.900000,270.00000,1015.400000,1023.100000,10.000000,17.250000,1277.000000
max,201.000000,2023-12-31 23:00:00,35.800000,36.400000,19.200000,360.00000,1036.700000,1040.900000,12.000000,23.000000,1735.000000
std,33.242732,NaN,10.974247,3.425763,1.582074,119.22088,63.249097,8.862327,3.447879,6.922243,492.858960

In [31]:
kr_2023_df.loc[kr_2023_df["기온"].isna()].tail(30)

,지점,일시,16방위 풍향,풍속,강수량,기온,현지기압,해면기압,month,time,group
57827,108,2023-12-10 11:00:00,10.9,NaN,1.0,NaN,181.2,1024.5,12,11,571
57828,108,2023-12-10 12:00:00,12.4,NaN,1.0,NaN,175.0,1023.4,12,12,572
57829,108,2023-12-10 13:00:00,14.2,NaN,1.0,NaN,169.6,1022.3,12,13,572
57830,108,2023-12-10 14:00:00,15.3,NaN,1.0,NaN,163.3,1021.1,12,14,572
57831,108,2023-12-10 15:00:00,15.4,NaN,1.4,NaN,157.1,1021.3,12,15,573
57832,108,2023-12-10 16:00:00,14.7,NaN,1.4,NaN,150.8,1021.3,12,16,573
57833,108,2023-12-10 17:00:00,13.4,NaN,1.4,NaN,145.4,1021.5,12,17,573
57834,108,2023-12-10 18:00:00,12.8,NaN,1.3,NaN,140.0,1021.7,12,18,574
57835,108,2023-12-10 19:00:00,12.4,NaN,1.3,NaN,133.8,1021.9,12,19,574
57836,108,2023-12-10 20:00:00,12.3,NaN,1.3,NaN,126.2,1022.1,12,20,574
57837,108,2023-12-10 21:00:00,12.3,NaN,1.1,NaN,120.0,1022.3,12,21,575
57838,108,2023-12-10 22:00:00,12.1,NaN,1.1,NaN,113.8,1022.6,12,22,575
57839,108,2023-12-10 23:00:00,12.1,NaN,1.1,NaN,106.2,1022.6,12,23,575
57840,108,2023-12-11 00:00:00,12.2,0.0,0.0,NaN,97.9,1022.3,12,0,576
57841,108,2023-12-11 01:00:00,12.0,NaN,1.1,NaN,88.8,1021.9,12,1,576
57842,108,2023-12-11 02:00:00,11.8,NaN,1.1,NaN,77.5,1021.4,12,2,576
57843,108,2023-12-11 03:00:00,11.6,0.0,0.0,NaN,66.2,1021.2,12,3,577
57844,108,2023-12-11 04:00:00,11.6,NaN,1.1,NaN,58.8,1020.5,12,4,577
57845,108,2023-12-11 05:00:00,11.3,NaN,1.1,NaN,58.8,1020.4,12,5,577
57846,108,2023-12-11 06:00:00,10.9,0.6,0.0,NaN,49.6,1020.3,12,6,578
57847,108,2023-12-11 07:00:00,10.9,NaN,1.1,NaN,51.7,1020.3,12,7,578
57848,108,2023-12-11 08:00:00,10.6,NaN,1.1,NaN,51.6,1020.2,12,8,578
57849,108,2023-12-11 09:00:00,10.6,0.6,0.0,NaN,51.5,1019.8,12,9,579
57850,108,2023-12-11 10:00:00,10.9,NaN,1.1,NaN,63.0,1019.2,12,10,579
57851,108,2023-12-11 11:00:00,11.2,NaN,1.1,NaN,72.9,1018.5,12,11,579
57852,108,2023-12-11 12:00:00,10.5,0.1,0.0,NaN,71.0,1017.8,12,12,580
57853,108,2023-12-11 13:00:00,9.4,NaN,1.1,NaN,69.3,1016.5,12,13,580
59224,119,2023-12-06 16:00:00,NaN,NaN,0.8,NaN,162.8,NaN,12,16,1037
59225,119,2023-12-06 17:00:00,NaN,NaN,0.8,NaN,163.1,NaN,12,17,1037
59250,119,2023-12-07 18:00:00,NaN,NaN,0.8,NaN,181.4,NaN,12,18,1046